<div class="container">

  <h4>Prerequisite</h4>

  <div class="container overflow-hidden text-center">
    <div class="row gx-5 pb-2">
      <div class="col">
       <div class="p-3 border bg-light">Typescript</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Rxjs</div>
      </div>
    </div>
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">HTML</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">CSS</div>
      </div>
    </div>
  </div>
</div>
